body {font-family: Helvetica, Arial, sans-serif; line-height:1.3; text-align:center; width:80%; margin:0 auto;}
#isthere { margin-top: 5%; font-size: 65px; }
#yesno { margin-bottom: 2em; border-top:1px solid #D2612F; border-bottom:1px solid #D2612F; padding-bottom:30px;}
#game { font-size: 50px; }
#footer { margin: 30px; font-size: 20px; }

a:link, a:visited { text-decoration: none; color: #D2612F; }
a:hover { border-bottom: 2px solid #000; }
a#counter:hover { border: 0; text-decoration: underline; }

#game { display: none; }
.fill-in { font-family: 'Permanent Marker', arial, sans-serif; font-size: 150px; }
.homeaway { font-weight: bold; font-size: 50px; }
.home { background: #000; color: #D2612F; }
.away { background: #FFF; color: #000; }


/* =Responsive Design
    Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 980px) {
    
    body { width: 80%; }
    #isthere { font-size: 60px; line-height: 1.0; }
    #game { font-size: 70px; }
    #footer { font-size: 20px; }
    .fill-in { font-size: 75px; }
    .homeaway { font-size: 34px; }
    
}

@media screen and (max-width: 650px) {

    body { width: 80%; }
    #isthere { font-size: 34px; }
    #game { font-size: 50px; }
    #footer { font-size: 16px; }
    .fill-in { font-size: 75px; }
    .homeaway { font-size: 34px; }
    
}

@media screen and (max-width: 480px) {
    
    body { width: 80%; }
    #isthere { font-size: 36px; }
    #game { font-size: 40px; }
    #footer { font-size: 14px; }
    .fill-in { font-size: 50px; }
    .homeaway { font-size: 34px; }
    
}

@media screen and (max-width: 320px) {
    
    body { width: 80%; }
    #isthere { font-size: 36px; }
    #game { font-size: 40px; }
    #footer { font-size: 14px; }
    .fill-in { font-size: 50px; }
    .homeaway { font-size: 34px; }

}

@media screen and (max-width: 240px) {
	
	
}