body { font-family: Helvetica, Arial, sans-serif;
  line-height:1.3; text-align:center; width:60%; margin:0 auto;}
  #isthere { margin-top: 5%; font-size: 50px; }
#yesno { margin-bottom: 2em; border-top:1px solid #D2612F;
  border-bottom:1px solid #D2612F; padding-bottom:30px;}
body {font-family: Helvetica, Arial, sans-serif; line-height:1.3; text-align:center; width:60%; margin:0 auto;}
#isthere { margin-top: 5%; font-size: 50px; }
#yesno { margin-bottom: 2em; border-top:1px solid #D2612F; border-bottom:1px solid #D2612F; padding-bottom:30px;}
#game { font-size: 50px; }
#footer { margin: 30px; font-size: 20px; }

a:link, a:visited { text-decoration: none; color: #D2612F; }
a:hover { border-bottom: 2px solid black ; }
#counter:hover { border: 0; text-decoration: underline; }

.fill-in { font-family: 'Permanent Marker', arial, serif; font-size: 150px; }
.homeaway { font-weight: bold; font-size: 50px; }
.home { background: #000000; color: #D2612F; }
.away { background: #FFFFFF; color: #000000; }
.boxscore {font-size: 16px; width: 500px; margin: 30px auto 10px auto;}
.boxscore table {
  border: 1px solid #666;
/*  width: 480px;*/
}
.boxscore td {border: 1px solid #666; min-width: 25px; width:30px;}
.boxscore .team, .awayteam, .hometeam {
  text-align: left;
  width: 120px;
  padding-left: 5px;
}
.boxscore .inning {color: #666;}
.boxscore .giants {color: #D2612F;}
.boxscore .opponent {color: #AAA;}
a:hover { border-bottom: 2px solid #000; }
#counter:hover { border: 0; text-decoration: underline; }

#game { display: none; }
.fill-in { font-family: 'Permanent Marker', arial, sans-serif; font-size: 150px; }
.homeaway { font-weight: bold; font-size: 50px; }
.home { background: #000; color: #D2612F; }
.away { background: #FFF; color: #000; }


/* =Responsive Design
    Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 980px) {
    body { width: 80%; }
    #isthere { font-size: 60px; line-height: 1.0; }
    #game { font-size: 50px; }
    #footer { font-size: 20px; }
    .fill-in { font-size: 100px; }
    .homeaway { font-size: 34px; }
}

@media screen and (max-width: 650px) {
    body { width: 80%; }
    #isthere { font-size: 34px; }
    #game { font-size: 50px; }
    #footer { font-size: 16px; }
    .fill-in { font-size: 75px; }
    .homeaway { font-size: 34px; }
}

@media screen and (max-width: 480px) {
    body { width: 80%; }
    #isthere { font-size: 40px; }
    #game { font-size: 24px; }
    #footer { font-size: 14px; }
    .fill-in { font-size: 70px; }
    .homeaway { font-size: 34px; }
}

@media screen and (max-width: 320px) {  
    body { width: 80%; }
    #isthere { font-size: 40px; }
    #game { font-size: 24px; }
    #footer { font-size: 14px; }
    .fill-in { font-size: 70px; }
    .homeaway { font-size: 34px; }
}

@media screen and (max-width: 240px) {
	
	
}
